@model PublicTransportGallery.ViewModels.AdminListImage
@using PublicTransportGallery.Helpers
@{
    ViewBag.Title = "Lista zdjęć";
}

<h2>Lista zdjęć</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

    @*@foreach (var item in Model.ImageList)
        {
            <tr>
                <td>
                    <img class="img-fluid" src="@Url.ThumbImgPath(item.Name)" alt="@item.Name" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }*@

</table>

