@model PublicTransportGallery.ViewModels.SearchByCityViewModels


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Szukaj miasta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.WOJ, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.WOJ, new SelectList(Model.VoivodeshipsList, "WOJ", "NAZWA"), " ", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WOJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CityId, new SelectList(" "), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.PassengerTransportsList != null)
{
    <h4>Wynik wyszukiwania</h4>
    <hr />
    <div class="list-group">
        @foreach (var itemResult in Model.PassengerTransportsList)
        {

        <a href="@Url.Action("Details", "PassengerTransport", new { id = itemResult.PassengerTransId })" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-2 h5">@itemResult.Name</h5>
                    </div>
                    @*<small class="text-muted">Autor: @itemResult.users.UserName</small>*@
            </div>
        </a>
        }
    </div>
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $("#WOJ").change(function () {
            $.get("/Search/GetCity", { woj: $("#WOJ").val() }, function (data) {
                $('#CityId').empty();
                    $.each(data, function (index, row) {
                    $("#CityId").append("<option value='" + row.CityId + "'>" + row.NAZWA + "</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#WOJ").val('');
        $("#CityId").val('');
    });
</script>