@model PublicTransportGallery.ViewModels.MainImageDetailsViewModels
@using PublicTransportGallery.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Szczegóły zdjęcia";
}


<div class="container pp-section">
    <div class="h3 font-weight-normal">@Model.ImageDetails.ModelVehice</div>
    <hr />
    <img style="width: 100%;" src="@Url.BusImgPath(Model.ImageDetails.ImageName)" />
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="h5">@Html.LabelFor(model => model.ImageDetails.User)</div>
             @*<a class="mr-1 badge badge-primary" href="#">Nature</a><a class="mr-1 badge badge-primary" href="#">Model</a><a class="badge badge-primary" href="#">Flower</a>*@ 
            <a href="@Url.Action("DetailsUser","Manage", new { Username = Model.ImageDetails.User})">@Model.ImageDetails.User</a>
            <div class="h5 pt-4">@Html.LabelFor(model => model.ImageDetails.DateAdd)</div>
            <p>@Model.ImageDetails.DateAdd</p>
        </div>
        <div class="col-md-9">
            <p>
                @Html.LabelFor(model => model.ImageDetails.YearProduction) @Model.ImageDetails.YearProduction @if (Model.ImageDetails.YearEndProduction != null)
                {<span>- @Model.ImageDetails.YearEndProduction </span>}
            </p>
            <p>@Model.ImageDetails.Description</p>
        </div>
    </div>

    <h2>Sekcja komentarzy</h2>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <span class="control-label col-md-2">Dodaj komentarz</span>
                <div class="col-md-12">
                    @*@Html.TextAreaFor(model => model.comment.ContentComment, new { htmlAttributes = new { @class = "form-control", col = 6, @id = "comment-box" } })*@
                    <textarea rows="4" class="form-control" id="comment-box"></textarea>
                    <span id="comment-alert"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <span onclick="AddComment()" class="btn btn-primary">Dodaj</span>
                </div>
            </div>
        </div>
    }

    <div class="comment-section">
        @foreach (var comment in Model.Comments)
        {
            <div class="card">
                <div class="card-header">
                    <span>@comment.Username</span>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="comment-text">@comment.ContentText</p>
                        <footer class="blockquote-footer"><span class="comment-text-info">Dodano: @comment.DateAdd</span> </footer>
                    </blockquote>
                </div>
            </div>
            <br />
        }
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    function AddComment() {
        var commentText = $("#comment-box").val();
        if (commentText == '')
        {
            $('#comment-alert').empty();
            $('#comment-alert').append("Puste pole");
            return;
        }
        if (commentText.length < 3 || commentText.length > 100) {
            $('#comment-alert').empty();
            $('#comment-alert').append("Liczba słów musi się mieścić w przedziale od 3 do 100");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddComment")',
            data: JSON.stringify({ commentContent: commentText, id: '@Model.ImageDetails.ImageId' }),
            contentType: "application/json; charset=utf-8",
            success: function () {
                $('#comment-alert').empty();
                $('#comment-alert').append("Komentarz został dodany prawidłowo i zostanie wyświetlony po weryfikacji");
            },
            error: function () {
                $('#comment-alert').append("Wystąpił problem");
            }
        });
    };

</script>