@model PublicTransportGallery.ViewModels.ImageDetailsViewModels
@using PublicTransportGallery.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.ModelVehice;
}

<style>
    .image-details-font {
        font-size: 15px;
    }
</style>

<div class="container pp-section">
    <!-- #region Obszar zdjęcia + informacje -->
    <img style="width: 100%" src="@Url.BusImgPath(Model.ImageName)" />
    <div class="row mt-5">
        <div class="col-md-9">
            <div class="h3">@Model.ModelVehice</div>
            <div class="h6">@Html.LabelFor(model => model.UserName) <a href="@Url.Action("DetailsUser","User", new { Username = Model.UserName})">@Model.UserName</a></div>
            <hr />
            <div class="image-details-font">
                <div class="h5"> <a href="@Url.Action("Details","PassengerTransport", new { WOJ = Model.VoivodeshipName, City = Model.CityName, id = Model.PassangerTransportId })">@Model.PassangerTransportName</a></div>
                Lokalizacja: <a href="@Url.Action("CityList","Localization", new { WOJ = Model.VoivodeshipName})">@Model.VoivodeshipName</a> / <a href="@Url.Action("PassengerTransportList","Localization", new { WOJ = Model.VoivodeshipName, City = Model.CityName })">@Model.CityName</a>
                Odwiedzin: <span style="color: #917c55;">@Model.CountVisitor</span>
            </div>
            <small class="text-muted">@Html.LabelFor(model => model.DateAdd) @Model.DateAdd </small>
            <hr />
            <p>
                @Model.Description
            </p>


        </div>
        <div class="col-md-3">
            <div class="card border-light mb-3">
                <div class="card-header">Opis pojazdu</div>
                <div class="card-body text-secondary">
                    <div class="card-text" style="font-size: 11px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">@Html.LabelFor(model => model.YearProduction)</div> <div class="col-6">
                                    @Model.YearProduction @if (Model.YearEndProduction != null)
                                    {<span>- @Model.YearEndProduction </span>}
                                </div>
                                <div class="col-6">Producent</div> <div class="col-6">@Model.Producent</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="card border-light mb-3">
                    <div class="card-header">Tagi</div>
                    <div class="card-body text-secondary">
                        <div class="card-text">
                            <a class="mr-1 badge badge-primary" href="#">Autobus</a><a class="mr-1 badge badge-primary" href="#">Model</a><a class="badge badge-primary" href="#">Producent</a><a class="badge badge-primary" href="#">Miasto</a>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
    <!-- #endregion -->
    <!-- #region sekcja komentarzy -->
    <h2>Sekcja komentarzy (@Model.CountComment)</h2>
    <hr />
     @Html.Action("_CommentSection", "Comment", new { ImageId = Model.ImageId })
    <!-- #endregion -->

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
     function DeleteComment(id) {
        if (confirm("Czy na pewno chcesz usunąć komentarz")) {
            $.ajax({
        type: "POST",
        url: '@Url.Action("DeleteComment", "Comment")',
        data: JSON.stringify({ CommentId: id }),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload();
        },
        error: function () {
            bootoast.toast({
                message: 'Komentarz nie został usunięty poprawnie',
                type: 'danger'
            });
        }
    });
        }
        return false;
    }
</script>