@model PublicTransportGallery.ViewModels.ImageDetailsViewModels
@using PublicTransportGallery.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Szczegóły zdjęcia";
}


<div class="container pp-section">
    <!-- #region Obszar zdjęcia + informacje -->
    <div class="h3 font-weight-normal">@Model.ModelVehice</div>
    <hr />
    <img style="width: 100%;" src="@Url.BusImgPath(Model.ImageName)" />
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="h5">@Html.LabelFor(model => model.UserName)</div>
            @*<a class="mr-1 badge badge-primary" href="#">Nature</a><a class="mr-1 badge badge-primary" href="#">Model</a><a class="badge badge-primary" href="#">Flower</a>*@
            <a href="@Url.Action("DetailsUser","User", new { Username = Model.UserName})">@Model.UserName</a>
            <div class="h5 pt-4">@Html.LabelFor(model => model.DateAdd)</div>
            <p>@Model.DateAdd</p>
        </div>
        <div class="col-md-9">
            <p>
                @Html.LabelFor(model => model.YearProduction) @Model.YearProduction @if (Model.YearEndProduction != null)
                                {<span>- @Model.YearEndProduction </span>}
            </p>
            <p>@Model.Description</p>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region kontrolka dodawania komentarzy -->
    <h2>Sekcja komentarzy (@Html.Action("GetCountComments", "Comment", new { id = Model.ImageId}))</h2>
    <hr />
    @if (User.Identity.IsAuthenticated)
        {
    @Html.Partial("_InsertComment", Model.CommentModel, new ViewDataDictionary(ViewData) { { "ImageID", Model.ImageId } })
        }
    <!-- #endregion -->
    <!-- #region sekcja komentarzy -->
    <div class="comment-section">
        @foreach (var comment in Model.CommentList)
                {
        <div class="card">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span>
                                <a href="@Url.Action("DetailsUser","User", new { Username = comment.Username})">@comment.Username</a>
                            </span>
                        </div>
                        <div class="col-1">
                            <span><a href="">Usuń</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="comment-text">@comment.ContentText</p>
                    <footer class="blockquote-footer"><span class="comment-text-info">Dodano: @comment.DateAdd</span> </footer>
                </blockquote>
            </div>
        </div>
        <br />
                }
    </div>
</div>
<!-- #endregion -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
