@model PublicTransportGallery.ViewModels.EditImageViewModels

@{
    ViewBag.Title = "Edytuj zdjęcie";
}

@using (Html.BeginForm("EditImageInfo", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edytuj zdjęcie</h4>
        <hr />
        @Html.HiddenFor(model => model.ImageId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.WOJ, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.WOJ, new SelectList(Model.VoivodeshipList, "WOJ", "NAZWA"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WOJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CityId, new SelectList(Model.CityList, "CityId", "Nazwa"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PassengerTransId, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PassengerTransId, new SelectList(Model.PassangerTransportList, "PassengerTransId", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PassengerTransId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VehicleId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.VehicleId, new SelectList(Model.VehicleList, "VehicleId", "VehicleName"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VehicleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <input type="file" name="@Html.NameFor(model => model.Image)" id="@Html.NameFor(model => model.Image)" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                <div class="form-group">
                    <textarea class="form-control" name="@Html.NameFor(model => model.Description)" id="@Html.NameFor(model => model.Description)" rows="3">@Model.Description</textarea>
                </div>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edytuj" class="btn btn-default btn-lg btn-block" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $("#WOJ").change(function () {
            $.get("/Search/GetCity", { woj: $("#WOJ").val() }, function (data) {
                $("#CityId").empty();
                $("#PassengerTransId").empty();
                $("#VehicleId").empty();
                $.each(data, function (index, row) {
                    $("#CityId").append("<option value='" + row.CityId + "'>" + row.NAZWA + "</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#CityId").change(function () {
            $.get("/Vehicle/GetPassangerTransport", { CityId: $("#CityId").val() }, function (data) {
                $("#PassengerTransId").empty();
                $("#VehicleId").empty();
                $('#PassengerTransId').prepend("<option value=''></option>").val('');
                $.each(data, function (index, row) {
                    $("#PassengerTransId").append("<option value='" + row.PassengerTransId + "'>" + row.Name + "</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#PassengerTransId").change(function () {
            $.get("/Vehicle/GetVehicleListToDropdownList", { PassengerTransId: $("#PassengerTransId").val() }, function (data) {
                $("#VehicleId").empty();
                $('#VehicleId').prepend("<option value=''></option>").val('');
                $.each(data, function (index, row) {
                    $("#VehicleId").append("<option value='" + row.VehicleId + "'>" + row.VehicleName + "</option>")
                });
            });
        })
    });
</script>

