@model PublicTransportGallery.ViewModels.DetailsUserViewModels
@using PublicTransportGallery.Helpers;
@{
    ViewBag.Title = "Moje zdjęcia";
}


@*<div class="card-columns">
    @foreach (var item in Model.ImagesList)
    {
        <div class="card">
            <a href="@Url.Action("Details","Image", new { id = item.ImageId})">
                <img src="@Url.ThumbImgPath(item.Name)" class="card-img-top" alt="@item.Name">
            </a>
            <div class="card-body">
                <p class="card-text"><a href="@Url.Action("EditImageInfo","Image", new { id = item.ImageId })" class="btn btn-info">Edytuj</a> <a href="@Url.Action("DeleteImage","Image", new { id = item.ImageId })" id="deleteImage" onclick="return confirm('Czy na pewno chcesz usunąć?')" class="btn btn-danger">Usuń</a></p>
            </div>
        </div>
    }
</div>*@

<div class="container">
    <div class="row">
        @foreach (var item in Model.ImagesList)
        {
        <div class="col-4">
            <a href="@Url.Action("Details","Image", new { id = item.ImageId})">
                <div class="card">
                    <img src="@Url.ThumbImgPath(item.Name)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="@Url.Action("EditImageInfo","Image", new { id = item.ImageId })" class="btn btn-info">Edytuj</a> <a href="#" onclick="DeleteImage(@item.ImageId)" @* id="deleteImage" onclick="return confirm('Czy na pewno chcesz usunąć?')"*@ class="btn btn-danger">Usuń</a></p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="~/Scripts/jquery.simpleLoadMore.js"></script>
<script>
    $('.card-columns').simpleLoadMore({
        item: 'div',
        count: 20,
        itemsToLoad: 20,
    });
    function DeleteImage(id) {
        if (confirm("Czy na pewno chcesz usunąć zdjęcie")) {
            $.ajax({
        type: "POST",
        url: '@Url.Action("DeleteImage","Image")',
        data: JSON.stringify({ id: id }), 
        dataType: "json",
        contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload();
        },
        error: function () {
            bootoast.toast({
                message: 'Zdjęcie nie zostało usunięte poprawnie',
                type: 'danger'
            });
        }
    });
        }
        return false;
    }
</script>