@model PublicTransportGallery.ViewModels.UploadImageViewModels

@{
    ViewBag.Title = "Dodaj zdjęcie";
}

@using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-6">
            <div class="form-horizontal">
                <h4>Dodaj zdjęcie</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ProducentId, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.ProducentId, new SelectList(Model.ProducentList, "ProducentId", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProducentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ModelId, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ModelId, new SelectList(" "), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        <input type="file" name="@Html.NameFor(model => model.Image)" id="@Html.NameFor(model => model.Image)" />
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        <div class="form-group">
                            <textarea class="form-control" name="@Html.NameFor(model => model.Description)" id="@Html.NameFor(model => model.Description)" rows="3"></textarea>
                        </div>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Dodaj" class="btn btn-default btn-lg btn-block" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"> </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $("#ProducentId").change(function () {
            $.get("/Model/getModel", { id: $("#ProducentId").val() }, function (data) {
                $("#ModelId").empty();
                $.each(data, function (index, row) {
                    $("#ModelId").append("<option value='" + row.ModelId + "'>" + row.NameModel + "</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#ProducentId").val('');
    });
</script>
