@model PublicTransportGallery.ViewModels.DetailsUserViewModels
@using PublicTransportGallery.Helpers;
@{
    ViewBag.Title = "Szczegóły konta";
}

<h2>Szczegóły konta</h2>

<div class="list-group">
    @foreach (var itemResult in Model.ImagesList)
    {
        <a href="@Url.Action("Details", "Image", new { id = itemResult.ImageId })" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-2">
                    <img src="@Url.ThumbImgPath(itemResult.Name)" alt="..." class="img-fluid">
                </div>
                <div class="col-10">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-2 h5">@itemResult.TblVehicles.TblModel.TblProducent.Name @itemResult.TblVehicles.TblModel.NameModel</h5>
                        <small class="text-muted">@itemResult.DateAdd.ToString("dd MMMM yyyy")</small>
                    </div>
                    <p class="mb-2">
                        @itemResult.Description
                    </p>
                    @*<small class="text-muted">Autor: @itemResult.users.UserName</small>*@
                </div>
            </div>
        </a>
    }
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="~/Scripts/jquery.simpleLoadMore.js"></script>
<script>
    $('.list-group').simpleLoadMore({
        item: 'a',
        count: 10,
        itemsToLoad: 20,
    });
</script>
