@model PublicTransportGallery.ViewModels.PassengerTransportViewModels
@using PublicTransportGallery.Helpers
@{
    ViewBag.Title = Model.Name;
}

<div class="card bg-light mb-3">
    <div class="card-header text-white" style="background-color: #917c55">@Model.Name</div>
    <div class="card-body">
        <p>Informacje o przewoźniku</p>
        <table class="table" style="width: 450px;">
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.Name)</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ShortName)</td>
                    <td>@Model.ShortName</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Address)</td>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.CityName)</td>
                    <td>@Model.CityName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card bg-light mb-3">
    <div class="card-header text-white" style="background-color: #917c55">Lista pojazdów</div>
    <div class="card-body">
        @foreach (var itemCheckHistory in Model.VehicleHistory)
        {
        <p>@Html.HistoryHelper(itemCheckHistory)</p>
            <hr />

            foreach (var itemVehicleType in Model.VehicleType)
            {
                if (Model.VehicleList.Where(x => x.History.Equals(itemCheckHistory) && x.TypeTransportName.Equals(itemVehicleType)).Count() > 0)
                {
                <p>@itemVehicleType</p>

                    <table id="@itemVehicleType-@itemCheckHistory.ToString().ToLower()" class="table table-hover" >
                        <thead>
                            <tr>
                                <th scope="col" class="filter">Producent</th>
                                <th scope="col" class="filter">Model</th>
                                <th scope="col" class="filter">Wprowadzenie do ruchu</th>
                                <th scope="col" class="filter">Rok wycofania</th>
                                <th scope="col">Zdjęcie</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.VehicleList.Where(x => x.History.Equals(itemCheckHistory) && x.TypeTransportName.Equals(itemVehicleType)))
                        {
                            <tbody>
                                <tr>
                                    <td>@item.ProducentName</td>
                                    <td>@item.ModelName</td>
                                    <td>@item.YearOfGet</td>
                                    <td>@item.YearOfRemove</td>
                                    <td>
                                        @if (item.Photo != null)
                                        {
                                            <img src="@Url.ThumbImgPath(item.Photo)" class="img-own" />
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                }
            }
        }
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/excel-bootstrap-table-filter-bundle.js"></script>
<script>
    $(function () {
        var item = @Html.Raw(Json.Encode(Model.VehicleType));
        var subItem = @Html.Raw(Json.Encode(Model.VehicleHistory));

        for (i = 0; i < item.length; i++)
        {
            for (j = 0; j < subItem.length; j++) {
                $('#'+ item[i]+ '-' + subItem[j] + '').excelTableFilter();
            }
        }
    });
</script>
