@model PublicTransportGallery.ViewModels.HomeViewModel
@using PublicTransportGallery.Helpers
@{
    ViewBag.Title = "Strona główna";
}

<div class="container">
    <div class="container pp-section">
        <div class="row">
            <div class="col-md-9 col-sm-12 px-0">
                <h1 class="h3"> Najnowsze zdjęcia:</h1>
                <hr />
            </div>
        </div>
    </div>
    <div class="container px-0 py-4">
        <div class="pp-category-filter">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-primary pp-filter-button" href="#" data-filter="all">Wszystko</a>
                    @foreach (var typeTransport in Model.TypeTransport)
                    {
                        <a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="@typeTransport.Name">@typeTransport.Name</a>
                    }
                </div>

            </div>
        </div>
    </div>

    <div class="container px-0">
        <div class="grid-container">
            @foreach (var busPhoto in Model.Images)
            {
            <div class="grid-image" data-groups="[&quot;@busPhoto.TypeVehicle&quot;]">

                <a href="@Url.Action("Details","Image", new { id = busPhoto.ImageId })">
                    <div class="item-wrapper">
                        <div class="item-image">
                            <img class="img-fluid" src="@Url.ThumbImgPath(busPhoto.PhotoSrc)" alt="@busPhoto.NameVehice" />
                        </div>
                        <div class="image-info">
                            <span class="visitor-span"><i class="fa fa-eye"></i> @busPhoto.VisitorCount</span>
                            <span class="comment-span"><i class="fa fa-comments"></i> @busPhoto.CommentCount</span>
                        </div>
                        <div class="image-title">@busPhoto.NameVehice</div>
                    </div>
                </a>
                </div>
            }
        </div>

    </div>
    <div class="pp-section"></div>
</div>
