@model PublicTransportGallery.ViewModels.MainViewModel
@using PublicTransportGallery.Helpers
@{
    ViewBag.Title = "Strona główna";
}

<div class="container">
    <div class="container pp-section">
        <div class="row">
            <div class="col-md-9 col-sm-12 px-0">
                <h1 class="h3"> We are Photo Perfect, A Digital Photography Studio.</h1>
            </div>
        </div>
    </div>
    <div class="container px-0 py-4">
        <div class="pp-category-filter">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-primary pp-filter-button" href="#" data-filter="all">Wszystko</a>
                    @foreach (var typeTransport in Model.TypeTransport)
                    {
                        <a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="@typeTransport.Name">@typeTransport.Name</a>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="container px-0">
        <div class="pp-gallery">
            <div class="card-columns">
                @foreach (var busPhoto in Model.Images)
                {
                    <div class="card" data-groups="[&quot;@busPhoto.TblModel.TblTypeTransport.Name&quot;]">
                        <a href="@Url.Action("Details","Image", new { id = busPhoto.ImageId })">
                            <figure class="pp-effect">
                                <img class="img-fluid" src="@Url.BusImgPath(busPhoto.Name)" alt="@busPhoto.Name" />
                                <figcaption>
                                    <div class="h4">@busPhoto.TblModel.TblProducent.Name @busPhoto.TblModel.NameModel</div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="pp-section"></div>
</div>