@model PublicTransportGallery.ViewModels.SearchViewModels
@using PublicTransportGallery.Helpers
@{
    ViewBag.Title = "Wyszukiwanie";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Szukaj pojazd wg producenta lub modelu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProducentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ProducentId, new SelectList(Model.ProducentList, "ProducentId", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProducentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModelId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModelId, new SelectList(" "), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.ImageList != null)
{
    <h4>Wynik wyszukiwania</h4>
    <hr />
    <table class="table">

        @foreach (var itemResult in Model.ImageList)
        {

            <tr>
                <td>
                    <img src="@Url.BusImgPath(itemResult.Name)" style="width: 160px; height: 100px" />
                </td>
                <td>
                    <a href="@Url.Action("Details","Image", new { id = itemResult.ImageId })">@itemResult.TblModel.TblProducent.Name @itemResult.TblModel.NameModel</a>
                </td>
                <td>
                    @itemResult.Description
                </td>
            </tr>

        }


    </table>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="~/Scripts/jquery.simpleLoadMore.js"></script>
<script>
    $(document).ready(function () {
        $("#ProducentId").change(function () {
            $.get("/Image/getModel", { id: $("#ProducentId").val() }, function (data) {
                //$("#ModelId").empty();
                $.each(data, function (index, row) {
                    $("#ModelId").append("<option value='" + row.ModelId + "'>" + row.NameModel + "</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#ProducentId").val('');
    });

    $('.table').simpleLoadMore({
        item: 'tr',
        count: 20,
        itemsToLoad: 20,
    });
</script>